---
import BlogCard from "./BlogCard.astro";
import Container from "../../layouts/Container.astro";

const posts = await Astro.glob('/src/blog-posts/*.md');

---

<Container>
  <section class="mt-14 mb-32 grid sm:grid-cols-2 lg:grid-cols-3 gap-10 sm:gap-5">
    {
      posts.map((post) => (
        <BlogCard title={post.frontmatter.title} image={post.frontmatter.image} date={post.frontmatter.date} excerpt={post.frontmatter.excerpt} slug={post.frontmatter.slug}/>
      ))
    }
  </section>
</Container>
